* {
    text-align: center;
    font-size: 2rem;
}

button {
    width: 6em;
    height: 5em;
    display: inline-flex;
    font-size: .5em;
    justify-content: center;
    vertical-align: auto;
    padding: 0;
}